.hamburger {
  cursor: pointer;
}

.side-panel-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999;
}

.side-panel {
  width: 300px;
  height: 100vh;
  background-color: white; /* #D2C6C6 <- essa eh a cor no figma */
  overflow-y: auto;
  padding: 2em;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1em;
  /*margin-top: 85px;*/ 
}

.side-panel a {
  display: block;
  color: #990100; 
  text-decoration: none;
  font-size: 1.2em;
  transition: opacity 0.3s ease;
}

.side-panel a:hover {
  opacity: 0.7;
}
